site_name: Student Robotics Volunteer Runbook
site_url: https://studentrobotics.org/runbook/
repo_url: https://github.com/srobo/runbook
strict: true
edit_uri: blob/master/docs/
theme:
  logo:
    icon: library_books
  favicon: favicon.ico
  name: material
  feature:
    tabs: true
  palette:
    primary: 'blue'
    accent: 'blue'
  custom_dir: theme
copyright: |
  Copyright &copy; Student Robotics contributors
  <br>
  This work is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    Creative Commons Attribution-ShareAlike 4.0 International License
  </a>.

# Customization
extra:
  social:
    - type: globe
      link: https://studentrobotics.org
    - type: github-alt
      link: https://github.com/srobo
    - type: twitter
      link: https://twitter.com/studentrobotics

# Extensions
markdown_extensions:
  # Note: the mermaid2 plugin also relies on code blocks for graphs, which isn't
  # completely compatible with the following extensions, so we keep them
  # disabled. If we turn out to need code blocks in this project, we can
  # solve this then. See https://github.com/fralau/mkdocs-mermaid2-plugin#using-mermaid-and-code-highlighting-at-the-same-time.
  # - markdown.extensions.codehilite
  # - pymdownx.superfences

  - footnotes
  - markdown.extensions.admonition
  - markdown.extensions.def_list
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_include:
      base_path: docs


plugins:
  - search
  - markdownextradata
  - mermaid2
