mkdocs==1.2.2
mkdocs-material==4.6.3
mdx-include==1.4.1
mkdocs-markdownextradata-plugin==0.2.4
mkdocs-mermaid2-plugin==0.5.2

# Something in 3.3 (specifically `(3.2.2, 3.3.4]`) breaks mermaid rendering.
# Haven't looked into what just yet.
markdown<=3.3

# Jinja2 v3 is breaking for mkdocs. Markupsafe 2.1 is breaking for Jinja2 v2
jinja2<3
markupsafe<2.1
