mkdocs==1.0.4
mkdocs-material==4.1.1
mdx-include==1.3.3
mkdocs-markdownextradata-plugin==0.0.5

# Something in 3.3 (specifically `(3.2.2, 3.3.4]`) breaks mermaid rendering.
# Haven't looked into what just yet.
markdown<=3.3"

git+https://github.com/pugong/mkdocs-mermaid-plugin@abf14392b0ed0c7022210b32c4e7c9c3e4c5c68a
