mkdocs==1.2.2
mkdocs-material==7.3.1
mdx-include==1.4.1
mkdocs-markdownextradata-plugin==0.2.4
mkdocs-mermaid2-plugin==0.5.2

# Something in 3.3 (specifically `(3.2.2, 3.3.4]`) breaks mermaid rendering.
# Haven't looked into what just yet.
markdown<=3.3"
