version: 2.0

jobs:
    build:
        docker:
            - image: circleci/python:3
        steps:
            - checkout

            - restore_cache:
                key: cache-{{ .Branch }}-{{ checksum "requirements.txt" }}
            - run:
                name: Install dependencies
                command: |
                  python3 -m venv venv
                  . venv/bin/activate
                  pip install -r requirements.txt
            - save_cache:
                key: cache-{{ .Branch }}-{{ checksum "requirements.txt" }}
                paths:
                    - "/home/circleci/.local/share/virtualenvs"
            - run:
                name: Build
                command: |
                  . venv/bin/activate
                  ./scripts/build
            - run:
                name: Lint Yaml
                command: |
                  . venv/bin/activate
                  ./scripts/lint-yaml
            - run:
                name: Ensure requirements.txt and requirements.in are in sync
                command: |
                  . venv/bin/activate
                  pip-compile --quiet
                  # show what the changes are, for nicer debugging
                  git diff
                  # error-exit if there are changes
                  git diff-index --quiet HEAD --

    deploy:
        docker:
            - image: circleci/python:3
        steps:
            - add_ssh_keys:
                fingerprints:
                    - "9e:a9:7b:98:8d:0a:69:22:29:eb:34:14:90:73:a2:5a"
            - checkout
            - restore_cache:
                key: cache-{{ .Branch }}-{{ checksum "requirements.txt" }}
            - deploy:
                name: Deploy to Github Pages
                command: |
                  . venv/bin/activate
                  ./.circleci/deploy.sh


workflows:
    version: 2
    build-and-deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only: master
