{% extends "base.html" %}

{% block content %}
  {{ super() }}

  {#
    Include additional attribution and license information on relevant pages
    after the content.
    Note that this will not appear in the Table of Contents.
  #}

  {% if page.meta.original %}
    <h2>Attribution</h2>
    <p>
      This page is based on work done by {{ page.meta.original.authors }},
      originally published at
      <a href="{{ page.meta.original.url }}">{{ page.meta.original.url }}</a>,
      which was under the Creative Commons Attribution-ShareAlike 4.0
      International License. To view a copy of this license, visit
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">http://creativecommons.org/licenses/by-sa/4.0/</a>
      or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
    </p>
    {#
      If for some reason the above attribution notice is insufficient, we also
      allow the page to add a custom block of text to further clarify its origin.
    #}
    {% if page.meta.original.extra %}
      <p>{{ page.meta.original.extra }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
